@{
    ViewData["Title"] = "Каталог автомобилей";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в наш каталог автомобилей</h1>
    <p>Исследуйте наше широкое разнообразие транспортных средств, доступных в нашем автосалоне. Независимо от того, ищете ли вы стильный седан, мощный внедорожник или надежный грузовик, у нас есть что-то для каждого.</p>
    <p>Не стесняйтесь просматривать нашу коллекцию и выбирать идеальное транспортное средство, которое соответствует вашим потребностям и предпочтениям.</p>
    <p>Если у вас возникнут вопросы или вам понадобится помощь, наш дружелюбный персонал готов помочь вам принять обоснованное решение.</p>
    <p>Начните свой путь к поиску своей мечты сегодня!</p>

    <img src="https://neocinema.ru/wp-content/uploads/2024/01/avtosalon4-1706192643.jpg" alt="Каталог автомобилей " style="max-width: 60%; height: auto;">
</div>
